layout {
   default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Obsidian" cwd="~/Library/Mobile Documents/iCloud~md~obsidian/Documents/Ω" 
    tab name="Dotfiles" cwd="~/.dotfiles" 
    tab name="Desktop" cwd="~/Destkop" 
    tab name="Downloads" cwd="~/Downloads" 
    tab name="Projects" cwd="~/Documents/projects" 
    tab name="Projects NV" cwd="~/Documents/projects" command="tree" 
}

